<!doctype html>
<html>

  <head>
    <title>Text Heatmap</title>
    <link rel="stylesheet" type="text/css" href="/static/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/d3.min.js"></script>
    <script src="/static/sprintf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <script>var file = "{{ file }}";</script>
    <script>var queries = JSON.parse('{{ queries | tojson | safe}}');</script>
    <script src="/static/index.js"></script>
  </head>

  <body>

    <h1>Text Heatmap</h1>
    <div class="form">
      {% if file == "" %}
        <h2>Choose an article:</h2>
        <input type="file" id="article_file" accept=".txt" onchange="loadArticle()">
      {% else %}
        <div>{{ file }}</div>
      {% endif %}
    </div>
    <div class="form">
      <h2>Choose a query:</h2>
      <select id="query" class="fancy_select" onchange="executeQuery()"></select>
    </div>
    <div id="vis_div" class="row">
      <div id="article_div" class="column">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div id="summary_div" class="column">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>

  </body>

</html>
